body{
    background-color: rgba(255, 255, 255, 0.875);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.common {
    background-color: gray;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
}

.header {
    top:5px;
    left: 5px;
    right: 5px;
    height: 100px;
}

.left{
    top:115px;
    left: 5px;
    bottom: 40px;
    width: 100px;
}

.right{
    top: 115px;
    right: 5px;
    bottom: 40px;
    width:100px;
}

.main{
    top:125px;
    left: 125px;
    right: 125px;
    height: 100px;
}