body{
    background-color: rgb(12, 216, 216);
}

h1{
    color: black;
    text-align: center;
    font-weight:bold;
    font-size:110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 h2{
        color: rgb(13, 2, 115);
        text-align: center;
        font-weight:bold;
        text-decoration:underline;
        font-size:70px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

p{
        color: rgb(0, 0, 0);
        text-align:left;
        font-size:40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h3{
        color: rgb(121, 14, 14);
        text-align:left;
        font-size:40px;
        font-family:'Courier New', Courier, monospace
    }