body{
    background-color: blanchedalmond;

}

    h1{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size:50px;
        font-weight:bold;
        font-style:italic;
        text-decoration:underline;
    }

    li{
        color:cadetblue;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }